body{
    background: center center / 100% 100% url('Photos/PinkFlowerBackground.jpg') no-repeat;
    /*background-color: rgba(225, 185, 228, 0.924);
    background-image: url('Photos/PinkFlowerBackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center 0%;*/
    text-shadow: 1px 1px 2px white;
    font-weight: bold;
}
h1{
    font-size: 5vw;
    font-variant: small-caps;
    color: rgba(78, 22, 22, 0.854);
    display: inline-block;
    background-color: rgba(240, 217, 201, 0.478);
}
a{
    color: rgba(35, 13, 126, 0.694);
    text-decoration: none;
    margin: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17.5px;
    transition: 1s;
    background-color: rgba(240, 217, 201, 0.72);
}
a:hover{
    color: rgba(255, 183, 0, 0.955);
    background-color: rgba(72, 9, 123, 0.789);
}
h4{
    color: brown;
    display: inline-block;
    margin: 25px;
    background-color: rgba(240, 217, 201, 0.478);
}
input{
    background-color: beige;
    transition: 0.2s;
}
input:focus{
    border: 2px solid red;
    outline: none;
    background-color: rgb(255, 147, 233);
}
input:hover{
    background-color: rgb(170, 81, 244);
}
input:active{
    background-color: brown;
}
footer{
    margin: 15px;
}
.signature{
    background-color: rgba(233, 57, 168, 0.523);
    -webkit-text-fill-color: rgb(58, 0, 125);
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
}