body{
    margin: 0;
}
nav{
    /*F99584*/
    height: 48px;
    background-color: #000080;
    padding: 8px 15px;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.5);
}
.LogoTitle{
    display: inline-block;
    margin: 0;
    color: #F99584;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: -17px;
    left: 5px;
}
.logo-link{
    display: inline-block;
    height: 48px;
}
.nav-links{
    float: right;
    position: relative;
    top: 11px;
}
.link{
    text-decoration: none;
    color: #F99584;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 10px;
    transition: 0.2s;
}
.link:hover{
    color: #FFFEB6;
}
.BtnLink{
    text-decoration: none;
    color: #F99584;
    background-color: #FFFEB6;
    padding: 10px 15px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    transition: 0.3s;
}
.BtnLink:hover{
    padding: 10px 20px;
}
